* {
    margin: 0;
    padding: 0;
}

header {

    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to left, #769ab97d, #ffffff);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.61);
    color: rgb(11, 50, 84);
    margin-bottom: 1rem;
}

body {
    margin: 1rem;

    background-color: rgb(11, 50, 84);
    color: white;
    font-family: monospace;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(11, 50, 84);
    border: 2px solid rgb(11, 50, 84);
    border-radius: 10%;
    box-shadow: 0 2px 3px rgba(16, 0, 0, 0.771);
    background-color: #ffffff;
    transition: all 0.2s ease;
}

.menu a:hover {
    color: white;
    background-color: rgb(11, 50, 84);
    transform: translateY(-3px);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.658);
}

.type-affichage {
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.type-affichage-choix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

body.informations .type-affichage {
    visibility: hidden;
}

.tableau {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff1c;
    font-size: 0.9375rem;
    line-height: 1.6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
}

.tableau thead {
    background-color: gray;
}

.infos {
    text-align: center;
    margin-bottom: 2rem;
}

.mesblocs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.container1 {
    flex: 1;
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.container2 {
    flex: 1;
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.container2 a {
    text-decoration: none;
    color: aqua;

}


footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 1rem;

    justify-content: center;
    background: linear-gradient(to left, #769ab97d, #ffffff);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.61);
    color: rgb(11, 50, 84);
    margin-top: 1rem;
}

footer a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(11, 50, 84);
    border: 2px solid rgb(11, 50, 84);
    border-radius: 10%;
    box-shadow: 0 2px 3px rgba(16, 0, 0, 0.771);
    background-color: #ffffff;
    transition: all 0.2s ease;
}

.container1 li {
    margin-left: 2rem;
}